{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cardápio</title>
        <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png' %}" />
        <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Centrega.css' %}" />
        <script src="{%static 'js/Alerta.js' %}"></script>
    </head>
    <body>
        <header>
                <div class="menu"> 
                    <nav>
                        <ul>
                            <li><a href="{% url 'home:Home' %}">HOME</a></li>
                            <li><a href="{% url 'pedidos:pedidos_add' %}">CARDAPIO</a></li>
                            <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                            <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                        </ul>
                    </nav>
                </div>
        
        </header>
        <div id = "borda">
            <p id="cores">Bom para comer </p>
        </div>
        <div id= "borda1">
            <p>Desde 2010</p>
        </div>
        <div class="colunas">
            <div class=" unido cardapio">
                <h1>Cardapio</h1>
                <p>Pratos</p>
                <table>
                <tr>
                    <td>Virado a Paulista</td>
                    
                    <td> - </td>
                    <td> R$ 16 </td>
                </tr>
                <tr>
                    <td>Bife</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Filé de frango</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Frango ao molho</td>
                  
                    <td>-</td>
                    <td>R$ 13</td>
                </tr>
                <tr>
                    <td>Carne de panela</td>
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Fígado acebolado</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                <tr>
                    <td>Bife acebolado</td>
                    <td>-</td>
                    <td>R$15</td>
                </tr>
                <tr>
                    <td>Feijoada</td>
                    <td>-</td>
                    <td> R$16</td>
                </tr>
                <tr>
                    <td>Calabresa</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                </table>    
                <p>Acompanhamentos</p>
                <table>
                    <tr>
                        <td>Banana frita</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Linguiça</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Ovo</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Couve (virado)</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Legumes refogados</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Escarola</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Fritas</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                </table>
                
                <p>Saladas</p>
                <table>
                    <tr>
                        <td>Alface e Pepino</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Repolho e Cenoura</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                </table>
            </div>
            <div class="unido formulario">
                    <ul>Pratos:
                            <li>Virado a Paulista -  R$ 16</li>
                            <li>Bife -  R$ 14</li>
                            <li>Filé de frango - R$14 </li>
                            <li>Frango ao molho - R$13</li>
                            <li>Carne de panela - R$14</li>
                            <li>Fígado acebolado - R$14</li>
                            <li>Bife acebolado - R$15</li>
                            <li>Feijoada - R$16</li>
                            <li>Calabresa - R$14</li>
                        </ul>
        

            </div>
            
        </div>
    </body>
</html>